<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url("https://img.freepik.com/premium-photo/atm-machine-business-technology-with-pastel-blue-green-background-3d-render_576429-137.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 85vh;


        }

        .container {
            text-align: center;
            margin-top: 10%;


        }
    </style>
</head>

<body>
    <form method="post">
    <div class="container">
        <h2>Create account</h2>
       

        <p>
            <input type="text" name="accno" placeholder="Enter Account number">
        </p>
        <p>
            <input type="password" name="pinno" placeholder="Enter Password">
        </p>
        <button>sumbit</button>
    </div>
</form>



</body>

</html>