<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-image: url("https://c8.alamy.com/comp/RKH194/3d-rendering-of-atm-machine-on-green-grass-background-with-dollars-in-the-air-RKH194.jpg");
    }

    .container {
        text-align: center;
        margin-top: 15%;
    }

    .container1 {
        margin-top: 2%;

    }

    .forms p {
        color: blue;

    }

    .about {
        border: 1px black;
        margin-right: 65%;
    }
</style>

<body>
    
        <h1 style="color: blue;">Welcome to ATM Application</h1>

        <a href="{{url_for('create')}}"><button>create</button></a>

        <a href="{{url_for('login')}}"><button>Login</button></a>



   
    <div class="container1">
        <h style="color: blueviolet;">About us</h>
        <div class="about">
            <p>Welcome to ATM Application, designed to simplify your banking experience with fast,secure transactions.
            </p>
            <p> Our app offers easy access to your accounts, money transfers, and balance checks anytime, any where.
            <p>With a focus on convenience and security, we aim to make your financial management effortless. </p>
            </p>
            <p>At our app, we are dedicated to innovation and delivering a seamless banking experience.</p>
        </div>
    </div>

</body>

</html>